<main>
  <h1>Zoom WebSDK Sample Angular</h1>
   
        <input type="text"  name="meetingNumber" [(ngModel)]="meetingNumber" required placeholder="Meeting number">
        <input type="text" name="userName" [(ngModel)]="userName" required placeholder="User Name">
        <input type="text" name="user email" [(ngModel)]="userEmail" required placeholder="User Email">
        <input type="text"  name="meeting Number" [(ngModel)]="passWord" required placeholder="Meeting Password">
       
 
        
        <button type="submit" (click)="getSignature()">Join Meeting</button>

    
</main>
